/* ====================== 1 | Global ====================== */
/* ----------- 1.1 | Général ----------- */
* {
   /* border-box permet d'inclure le remplissage et la bordure dans la taille (width et height) de l'élément */
   box-sizing: border-box; /* Opera/IE 8+ */
   -moz-box-sizing: border-box; /* Firefox, autres Gecko */
   -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
   font-family: 'Raleway', 'sans serif';
}

a {
   color: rgb(10, 10, 10);
   text-decoration:none;
}


/* ----------- 1.2 | Notation avec des étoiles ----------- */
/* Etoile bleue */
.fa-star {
   color: #0065FC;
}

/* Etoile grise */
.gris {
   color: #dad8d8;
}


/* ====================== 2 | Version Ordinateur ====================== */
main, header {
   margin: 0 25px 0 25px;
}

/* ----------- 2.1 | HEADER ----------- */
#conteneur {
   display: flex;  
	justify-content: space-between;
}

.conteneur-items:nth-child(2) {
/* permet prendre le 2eme élément dans html grâce à nth-child( ) */
   align-self: flex-end;
}

#conteneur img {
   height: 50px;
}

/* Menu */
#menu {
   list-style: none;
   display: flex;
   align-items: center;
}

#menu a {
   padding:10px;
}

#menu a:hover {
   color: #0065FC;
   border-top: 2px solid #0065FC;
   padding: 10px;
}

/* ----------- 2.2 | SECTION : Recherche ----------- */
/* Barre de recherche */
form {
   display: flex;
   flex-direction: column;
}

#recherche {
   display: flex;
}

.fa-map-marker-alt {
   box-sizing: border-box;
   font-size: 15px;
   background-color: #F2F2F2;
   border-radius: 15px 0 0 15px;
   width: 40px;
   height: 40px;
   padding: 13px;
}

#recherche-barre {
   font-weight: bold;
   border: 1px solid #F2F2F2;
   border-right: none;
   padding: 10px;
   height: 40px;
   outline: none;
}
   
#recherche button {
   width: 130px;
   height: 40px;
   border: 1px solid #0065FC;
   background: #0065FC;
   border-radius: 0 15px 15px 0;
   cursor: pointer;
}

#bouton1 {
   display: block;
   font-weight: bold;
   color: #eeeeee;
   margin: 6%;
}

#bouton2 {
   display: none;
   visibility: hidden;
}

/* Filtres */
#filtre {
   display: flex;
   margin-top: 2%;
   align-items: center;
   flex-wrap: wrap;
}

#filtre p {
   font-weight: bold;
   margin-right: 2%;
}

.filtre-item {
   font-weight: bold;
   background-color: white;
   border: 2px solid #F2F2F2;
   border-radius: 20px;
   margin-right: 30px;
   padding: 0 15px 0 0;
   cursor: pointer;
}

.filtre-item:hover {
   background-color: #0065fc;
   border-color: #0065fc;
   color: white;
   box-shadow: 10px 10px 10px #dad8d8;
}

.filtre-item i{
   font-size: 18px;
   color: #0065FC;
   background-color: #DEEBFF;
   border-radius: 50%;
   margin-left: -5px;
   padding: 15px;
   margin-right: 7px;
}

/* Info */
.fa-info {
   font-size: 10px;
   color: #0065FC;
   border: 2px solid #F2F2F2;
   text-align: center;
   padding-top: 0.2%;
   width: 20px;
   height: 20px;
   border-radius: 20px;
}

/* ----------- 2.3 | SECTION : Resultats hebergement ----------- */
#resultat {
   display: flex;
   justify-content: space-between;
}

/* 2.3.1 | ARTICLE : Résultats hébergement à Marseille */
#res-hebergement {
   background-color: #F2F2F2;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-right: 1%;
   border-radius: 25px;
}

#res-hebergement h2 {
   /* permet de mettre le titre en haut sur toute la ligne et avoir les cartes en dessous */
   order: -1;
   flex: 1 0 100%;
   padding: 2% 0 0 4%;
}

/* Carte */
.carte {
   display: block;
   background-color: white;
   border-radius: 15px;
   width: 260px;
   box-shadow: 10px 10px 12px #dad8d8;
   margin: 0 2% 4% 2%;
   transition: transform .1s;
}

/* grossissement de la carte au survol de la souris */
.carte:hover {
   -ms-transform: scale(1.2); /* IE 9 */
   -webkit-transform: scale(1.2); /* Safari 3-8 */
   transform: scale(1.2);
}

.carte-image {
   height: 120px;
}

.carte-image img {
   border-radius: 15px 15px 0 0;
   padding: 5px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.carte-description h3, .carte-description p, .carte-etoile {
   margin: 2%;
   padding-left: 5%;
}

#afficher-plus {
   /* permet de mettre "afficher plus" en bas */
   order: 10;
   flex: 1 0 100%;
   padding: 0 0 4% 4% ;
}

/* 2.3.2 | ARTICLE : Résultats les plus populaires */
#res-populaire {
   background-color: #F2F2F2;
   display: block;
   width: 55%;
   border-radius: 25px;
}

#res-populaire-titre{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 2% 2% 0 2%;
   padding: 2% 3% 2% 4%;
}

.fa-chart-line {
   font-size: 25px;
}

/* Carte */
.carte-populaire {
   background-color: white;
   border-radius: 15px;
   width: 320px;
   box-shadow: 10px 10px 12px #dad8d8;
   margin: 0 5% 10% 5%;
   transition: transform .1s;
}

/* grossissement de la carte au survol de la souris */
.carte-populaire:hover {
   -ms-transform: scale(1.1); /* IE 9 */
   -webkit-transform: scale(1.1); /* Safari 3-8 */
   transform: scale(1.1);
}

.carte-populaire a {
   display: flex;
   padding: 1%;
}

.carte-populaire-image img {
   border-radius: 15px 0 0 15px;
   height: 130px;
   width: 110px;
   object-fit: cover;
}

.carte-populaire-detail {
   width: 80%;
}

.carte-populaire-detail h3, .carte-populaire-detail p {
   margin: 2%;
   padding-left: 5%;
}

.carte-populaire-detail .carte-populaire-etoile {
   margin: 2%;
   padding-left: 5%;
   padding-top: 15%;
}

/* ----------- 2.4 | SECTION : Résultats activités à Marseille ----------- */
#activite {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between; 
   margin-bottom: 4%;
}

/* Carte avec les grandes images */
.carte-activite-large {
   display: block;
   border-radius: 15px;
   width: 270px;
   height: 390px;
   box-shadow: 10px 10px 12px #dad8d8;
}

.carte-activite-large:hover {
   box-shadow: 10px 10px 12px #999898;
}

.carte-activite-image-large {
   height: 90%;
}

.carte-activite-image-large img {
   border-radius: 15px 15px 0 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* Carte avec les petites images */
.carte-double {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}

/* Carte avec les petites images de taille differentes */
.carte-activite-moyenne {
   display: block;
   border-radius: 15px;
   width: 270px;
   height: 210px;
   box-shadow: 10px 10px 12px #dad8d8;
}

.carte-activite-moyenne:hover {
   box-shadow: 10px 10px 12px #999898;
}

.carte-activite-moyenne-image {
   height: 82%;
}

.carte-activite-moyenne-image img {
   border-radius: 15px 15px 0 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.carte-activite-petite {
   display: block;
   border-radius: 15px;
   width: 270px;
   height: 140px;
   box-shadow: 10px 10px 12px #dad8d8;
}

.carte-activite-petite:hover {
   box-shadow: 10px 10px 12px #999898;
}

.carte-activite-petite-image {
   height: 70%;
}

.carte-activite-petite-image img {
   border-radius: 15px 15px 0 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* Carte avec les petites images de la même taille */
.carte-activite {
   display: block;
   border-radius: 15px;
   width: 270px;
   height: 180px;
   box-shadow: 10px 10px 12px #dad8d8;
}

.carte-activite:hover {
   box-shadow: 10px 10px 12px #999898;
}

.carte-activite-image {
   height: 78%;
}

.carte-activite-image img {
   border-radius: 15px 15px 0 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* Titre des cartes */
.titre-activite {
   font-size: 13px;
   margin-left: 5%;
}


/* ----------- 2.5 | FOOTER ----------- */
footer {
   background-color: #F2F2F2;
   display: flex;
   justify-content: space-between;
   padding-right: 10%;
   padding-left: 3%;
}

footer ul {
   list-style: none;
   padding-left: 0;
}

footer li {
   padding-bottom: 10px;
}


/* ====================== 3 | MEDIA QUERIES ====================== */

/* ----------- 3.1 | Version Tablette ----------- */

@media screen and (min-width: 768px) and (max-width: 991px)
{
   /* Filtres */
   .filtre-item {
      margin-bottom: 10px;
   }

   /* Résultats de la recherche */
   #resultat {
      flex-direction: column-reverse;
   }

   /* Résultats hébergements à Marseille */
   #res-hebergement {
      width: 100%;
      margin-bottom: 3%;
   }

   /* Résultats les plus populaires */
   #res-populaire {
      width: 100%;
      margin-bottom: 15px;
   }

   .carte-populaire {
      width: 90%;
      margin: 0 5% 5% 5%;
   }
      
   .carte-populaire-image img {
      height: 150px;
      width: 300px;
   }

   /* Résultats activités à Marseille */
   #activite {
      justify-content: space-around; 
   }

   /* Carte avec les grandes images */
   .carte-activite-large {
      margin-bottom: 3%;
   }

   /* Carte avec les petites images de taille differentes */
   .carte-activite-moyenne {
      height: 180px;
   }
   
   .carte-activite-petite {
      margin-bottom: 8%;
      height: 180px;
   }

   .carte-activite-petite-image, .carte-activite-moyenne-image {
      height: 78%;
   }

   /* Carte avec les petites images de la même taille */
   .carte-activite {
      margin-bottom: 8%;
   }
}

/* ----------- 3.2 | Version Mobile ----------- */

@media screen and (max-width: 767px)
{
   main, header {
      margin: 0;
   }

   /* Header */
   #conteneur {
      display: flex; 
      flex-direction: column;
      align-items: center;
      width: 100%;
   }

   #conteneur img {
      height: auto;
      width: 100px;
   }

   .conteneur-items {
      width: 100%;
   }

   .conteneur-items:nth-child(2) {
      align-self: center;
   }

   /* Menu */
   #menu {
      justify-content: space-between;
      align-items: flex-start;
      padding: 0;
      margin-top: 7%;
   }

   #menu li {
      width: 100%;
   }

   #menu a {
      border-bottom: 2px solid #F2F2F2;
      padding: 0 63px 10px 62px;
   }

   #menu a:hover {
      border-bottom: 2px solid #0065FC;
      border-top: none;
      padding: 0 63px 10px 62px;
   }

   /* SECTION : Recherche */
   #debut {
      margin: 0 25px 0 25px;
   }

   h1 {
      font-size: 25px;
   }

   /* Barre de recherche */
   #recherche button {
      width: 45px;
      height: 40px;
      border-radius: 15px;
      margin-left: -10px;
   }

   #bouton1 {
      display: none;
      visibility: hidden;
   }

   #bouton2 {
      font-size: 14px;
      color: white;
      display: block;
      visibility: visible;
   }

   /* Filtres */
   #filtre p {
      /* permet de mettre le titre en haut sur toute la ligne et avoir les cartes en dessous */
      order: -1;
      flex: 1 0 100%;
   }

   .filtre-item {
      margin-bottom: 10px;
   }

   /* Résultats de la recherche */
   #resultat {  
      flex-direction: column-reverse;
   }

   /* Résultats hébergements à Marseille */
   #res-hebergement {
      background-color: white;
      width: 100%;
   }

   #hebergement {
      margin-left: 5%;
   }

   .carte {
      width: 85%;
      box-shadow: 1px 1px 12px #dad8d8;
      margin: 2%;
   }

   #afficher-plus {
      padding: 4% 0 4% 4% ;
   }

   /* Résultats les plus populaires */
   #res-populaire {   
      width: 100%;
      margin-bottom: 15px;
      border-radius: 0;
   }

   .carte-populaire {
      width: 87%;
      margin: 0 5% 5% 5%;
   }

   .carte-populaire-image img {
      height: 145px;
      width: 130px;
      margin-top: 1%;
   }

   .carte-populaire-detail {
      margin-top: 9px;
   }

   /* Activité à Marseille */
   #activites {
      margin-left: 5%;
   }

   #activite {
      justify-content: space-around; 
   }

   /* Carte avec les grandes images */
   .carte-activite-large {
      margin-top: 4%;
      box-shadow: 1px 1px 12px #dad8d8;
      width: 80%;
      height: 170px;
   }

   .carte-activite-image-large {
      height: 75%;
   }

   /* Carte avec les petites images */
   .carte-double {  
      width: 85%;
   }

   /* Carte avec les petites images de taille differentes */
   .carte-activite-moyenne {   
      margin-top: 5%;
      margin-left: 2%;
      box-shadow: 1px 1px 12px #dad8d8;
      width: 95%;
      height: 170px;
   }

   .carte-activite-moyenne-image {
      height: 75%;
   }

   .carte-activite-petite {   
      margin-top: 5%;
      margin-left: 2%;
      box-shadow: 1px 1px 12px #dad8d8;
      width: 95%;
      height: 170px;
   }

   .carte-activite-petite-image {
      height: 75%;
   }

   /* Carte avec les petites images de la même taille */
   .carte-activite {   
      margin-top: 5%;
      margin-left: 2%;
      box-shadow: 1px 1px 12px #dad8d8;
      width: 95%;
      height: 170px;
   }

   .carte-activite-image {
      height: 75%;
   }

   /* Footer */
   footer {
      flex-direction: column;
      margin-top: 5%;
      padding:5% 0 5% 10%;
   }
}